nav {
  background: #333;
  padding: 0 2rem;
}

button {
  background: #333;
  margin-bottom: 20px;
  width: 100%;
  padding: 16px;
  font-size: 1.6em;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

button.active,
button:active,
button:focus,
button:visited {
  background: #ffb74d;
}

form span {
  color: #ffb74d;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #ffb74d;
  -webkit-box-shadow: 0 1px 0 0 #ffb74d;
  box-shadow: 0 1px 0 0 #ffb74d;
}

.x-axis path,
.y-axis path,
.x-axis line,
.y-axis line {
  stroke: #ccc;
}

.tip {
  padding: 1rem;
  background: #333;
  color: #fff;
  text-align: center;
}
